.dropdown{
	margin-top:8px;
}

.dropdown-toggle{
	background-color:#ccc;
	border-color:black;
}

.navbar{
	margin-bottom:0px;
	border-bottom-color:black;
	background-color:black;
}

.navbar-default{
	background-color:black;
}

.navbutton{
	margin-top:8px;
	height:20px;
	background-color:#dff0d8;
	border-color:black;
}

.syn_link:link {
	color: red;
}
.syn_link:visited {
	color:blue;
}
